<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="my.com.test.mappers.movieMapper"> -->
<mapper namespace="movieMapper">

	 <select id="movieList" resultType="Map">
        select * from MOVIE
    </select>
</mapper>