<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <mapper namespace="my.com.test.mappers.movieMapper"> -->
<mapper namespace="noticeMapper">

    <!-- 공지사항 화면 조회 -->
    <select id="retrieveNotice" resultType="Map">
    
	    SELECT  *
	    FROM dual
    
    </select>
    
    <!-- 탭 별 목록조회 -->
    <select id="noticeTabList" resultType="Map">
        SELECT  *
        FROM BOARD
    </select>


</mapper>